@model List<BusinessObjects.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<h2 class="mb-4">Product List</h2>

<p>
    <a asp-action="Create" class="btn btn-success mb-3">
        <i class="fa-solid fa-plus"></i> Create New
    </a>
</p>

<table class="table table-bordered table-striped table-hover shadow">
    <thead class="table-dark">
        <tr>
            <th>Product Name</th>
            <th>Category ID</th>
            <th>Stock</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.CategoryId</td>
                <td>@item.UnitsInStock</td>
                <td>@item.UnitPrice</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary me-1">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-info me-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
